:host {
  .element {
    width: 100%;
    background-color: rgba(255,255,255,.13);
    border-radius: 6px;
    margin: 25px auto;
    padding-bottom: 20px;
    h3 {
      padding: 20px 0;
      margin: auto;
      text-align: center;
    }
    .msg {
      text-align:center;
      width:100%;
    }
    a{
      text-decoration: none;
    }
  }
  .user-details {
    font-size: 3.5vw;
    line-height: 25px;
    background-color: rgba(0,0,0,.7);
    border-radius: 6px;
    .main-content {
      width: 100%;
      padding: 20px 0;
      img {
        width: 35%;
        max-width: 200px;
        border-radius: 50%;
        margin-left: 4%;
        display: inline-block;
      }
      .main-details {
        width: 54%;
        margin: 0 0 0 10px;
        vertical-align: top;
        display: inline-block;
        h3 {
          padding: 10px 0;
          margin: 0;
          text-align: left;
        }
        .github-url {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
    .repositories {
      .repository {
        a {
          background-color: rgba(0,0,0,.4);
          height: 60px;
          width: 85%;
          border: 1px solid #575858;
          border-radius: 3px;
          margin: auto;
          margin-bottom: 10px;
          display: block;
          .repo-inner {
            margin: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        a:hover {
          background-color: rgba(255,255,255,.09);
        }
      }
    }
    .followers {
      .follower{
        width: 85%;
        margin: auto;
        margin-bottom: 10px;
        img {
          border-radius: 50%;
          width: 20%;
          display: inline-block;
        }
        .follower-title {
          vertical-align: top;
          margin: 5% 20px;
          position:absolute;
        }
      }
    }
  }

  @media (min-width: 380px) {
    .user-details {
      font-size: 13px;
      .main-content{
        .main-details {
            margin: 0 0 0 15px;
          h3 {
            padding-top:15%;
          }
        }
      }
      .followers {
        .follower{
          img {
            max-width: 60px;
          }
          .follower-title {
            vertical-align: top;
            margin: 20px 20px;
            position: absolute;
          }
        }
      }
    }
  }

  @media (min-width: 680px) {
    .user-details {
      .element {
        //background-color: rgba(255,255,255,.05);
        h3 {
          padding: 30px 0;
        }
      }
      font-size: 16px;
      .main-content {
        .main-details {
            margin: 0 0 0 30px;
          h3 {
            padding-top:50px;
          }
        }
      }
      .repositories {
        .repository {
          width:40%;
          margin-left:5%;
          display:inline-block;
          a {
            height: 60px;
            width: 100%;
            margin: auto;
            margin-bottom: 10px;
            display:inline-block;
          }
        }
      }
      .followers {
        .follower{
          width:45%;
          margin-left:5%;
          display:inline-block;
        }
      }
    }
  }

  @media (min-width: 980px) {
    .user-details {
      .followers {
        .follower{
          width:30%;
          margin-left:3%;
        }
      }
    }
  }

  @media (min-width: 1200px) {
    .user-details {
      .repositories {
        .repository {
          width:30%;
          margin-left:2.5%;
          display:inline-block;
        }
      }
    }
  }
}
